body {
  margin: 0;
}

#corpo {
  border: 3px solid black;
  height: 80vh;
  width: 1000px;
  margin: 8px auto 0px;
}

header {
  height: 200px;
  background: url(header.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  width: 70px;
  height: 70px;
}

header h1 {
  width: 100%;
  text-align: center;
}

header p {
  font-size: 40px;
}

nav ul {
  display: inline-block;
  align-items: center;
}

nav button {
  margin-right: 10px;
}

nav img {
  margin-left: 10px;
}


.botao:not(:first-child) {

  margin-top: 20px;
}


.botao button {
  display: block;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: rebeccapurple;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 550px;
  margin: 0 auto;
  margin-top: 25px;
  border: none;
  box-sizing: border-box;
  height: 100%;
}